main,
form,
label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main {
  max-width: 400px;
  margin: 1rem auto;
  font-family: sans-serif;
}

label {
  flex-direction: row;
  justify-content: space-between;
}

ul {
  padding: 0;
}

li {
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
}

li span {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}
